---
BasedOnStyle: Chromium

Language: Cpp
Standard: c++20
IndentWidth: 4
ColumnLimit: 100

AlignAfterOpenBracket: BlockIndent # Break after { in a multi-line block
InsertBraces: true # Insert {} around single-line blocks
InsertTrailingCommas: Wrapped

BreakBeforeBraces: Custom
BraceWrapping:
    AfterCaseLabel: false
    AfterClass: false
    AfterControlStatement: MultiLine
    AfterEnum: false
    AfterFunction: true
    AfterNamespace: false
    AfterStruct: false
    AfterUnion: false
    AfterExternBlock: false
    BeforeCatch: true
    BeforeElse: false
    BeforeLambdaBody: false
    BeforeWhile: false
    IndentBraces: false
    SplitEmptyFunction: false
    SplitEmptyRecord: false
    SplitEmptyNamespace: false

# Disallow multiple elements on a single line (when multi-line is enabled)
BinPackArguments: false
BinPackParameters: false

PointerAlignment: Right
ReferenceAlignment: Right

# Group includes
IncludeBlocks: Regroup
IncludeCategories:
    - Regex: "^<rtx/.*"
      Priority: 1
    - Regex: "^<.*"
      Priority: 2
    - Regex: ".*"
      Priority: 3

# Disallow single-line blocks
AllowShortBlocksOnASingleLine: Empty
AllowShortFunctionsOnASingleLine: Empty # Allow in class declarations
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false

SpacesInContainerLiterals: false # No spaces between opening and closing braces
SeparateDefinitionBlocks: Always # Newline between definition blocks

InsertNewlineAtEOF: true
